{% extends 'base/main.html' %}
{% block content %}

<div class="container-main">
    <div class="card-body">
        <div class="header-bar">
            <h1>Cadastre-se</h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            <label>{{form.username.label}}</label>
            {{form.username}}

            <label>{{form.password1.label}}</label>
            {{form.password1}}

            <label>{{form.password2.label}}</label>
            {{form.password2}}
            <input style="margin-top:10px ;" class="button-login" type="submit" value="Registrar">
        </form>
        <p>Você já tem uma conta? <a href="{% url 'login' %}" class="link-cad">Login</a></p>
    </div>
</div>




{% endblock content %}